

.mini-navs {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #DADADA;
  overflow-x: scroll;
  overflow-y: hidden;
}

/* height */
.mini-navs::-webkit-scrollbar {
  height: 4px;
}

/* Track */
.mini-navs::-webkit-scrollbar-track {
  background: #EDEDED;
}

/* Handle */
.mini-navs::-webkit-scrollbar-thumb {
  background: #DEDEDE;
}

/* Handle on hover */
.mini-navs::-webkit-scrollbar-thumb:hover {
  background: #D0E7E4;
}

.mini-navs-wrapper {
  width: 940px;
  height: 60px;
  padding: 0 30px;
  flex-direction: row;
  justify-content: space-between;
}

.mini-navs-wrapper a {
  color: #CEA618;
  letter-spacing: -0.03em;
  font-weight: 400;
  transition: all 0.2s ease-in;
}

.mini-navs-wrapper a:hover {
  color: #6F9590;
  transition: all 0.2s ease-in;
}

.mini-navs-wrapper a:active {
  transform: scale(0.8);
  transition: all 0.2s ease-in;
}


@media(max-width: 1000px) {
  .mini-navs {
    margin-top: 60px;
  }
}

@media(max-width: 868px) {
  .mini-navs {
    margin-top: 55px;
    height: 52px;
  }
  .mini-navs-wrapper {
    height: 50px;
  }
}

@media(max-width: 768px) {
  .mini-navs {
    margin-top: 50px;
  }
}


@media(max-width: 668px) {
  .mini-navs {
    height: 45px;
  }
  .mini-navs::-webkit-scrollbar {
    height: 2px;
  }
  .mini-navs-wrapper {
    height: 42px;
  }
}

@media(max-width: 468px) {
  .mini-navs {
    height: 40px;
  }
  .mini-navs-wrapper {
    height: 37px;
    padding: 0 20px;
    width: 900px;
  }
}