
.ind-ft-books {
  width: 100%;
  min-height: 500px;
  border-top: 1px solid #DADADA;
  padding-bottom: 90px;
}

.ind-ft-books-wrapper {
  width: 100%;
  min-height: 500px;
  flex-direction: row;
  align-items: flex-start;
}

/* wrapper for the right side of the featured books */
.indvl-ft-books {
  width: 77%;
  min-height: 500px;
  border-left: 1px solid #DADADA;
}

@media (max-width: 568px) {
  .indvl-ft-books {
    width: 100%;
  }
}