
.side-navs {
  width: 23%;
  min-height: 500px;
}

.side-navs span{
  display: block;
  margin: 12px 0 6px 30px;
  letter-spacing: -0.03em;
  color: #F3BD36;
}

.side-navs ul {
  margin-left: 30px;
  list-style: none;
}

.side-navs ul li {
  letter-spacing: -0.03em;
  margin: 6px 0;
}

.side-navs ul li a {
  color: #6F9590;
  font-weight: 600;
  transition: all 0.15s ease-in;
}


.side-navs ul li a:hover {
  color: #F3BD36;
  transition: all 0.15s ease-in;
}

@media (max-width: 768px) {
  .side-navs span {
    margin-left: 20px;
  }
  .side-navs ul {
    margin-left: 20px;
  }
}

@media (max-width: 568px) {
  .side-navs {
    display: none;
  }
}